

div.masthead2 {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background: url("../images/bikes2-home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

